.header-group {
  .header-logo-container {
    width: 350px;
    margin: 0 auto;
    padding: 50px 0 25px;

    .header-logo-circle {
      display: block;
      width: 350px;
      height: 350px;
      padding: 0px;
      border: 3px solid #DA8359;
      border-radius: 50%;
    }
  }

  .header-title {
    margin: 0 0 5px;
    font-weight: 900;
    font-size: 32px;
    line-height: 1.2;
    text-align: center;
    text-transform: uppercase;
    color: #DA8359 !important;
  }

  margin-bottom: 30px;
}
